@model OrganisEasy.Server.Models.Habit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Habit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompletedToday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCompletedToday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyCheckIns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyCheckIns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCheckIns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCheckIns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Streak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Streak)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastCheckInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastCheckInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
